body {

}
.btn {
    width: 75.5%;
    left: 15vw;
    position: absolute;
    border: none;
    background-color: transparent;
}
.btn0 {
    height: 24.2vw;
    top: 217.5vw;
}
.btn1 {
    height: 10.3vw;
    top: 248.7vw;
}

.btn2 {
    height: 15.3vw;
    top: 265vw;
}

.btn3 {
    height: 10.3vw;
    top: 286.5vw;
}

.btn4 {
    height: 9.7vw;
    top: 303.5vw;
}

.btn5 {
    height: 10vw;
    top: 319.2vw;
}

.btn6 {
    height: 13.5vw;
    top: 336.2vw;
}

.btn7 {
    height: 10vw;
    top: 357.2vw;
}
.btn8 {
    height: 10.1vw;
    top: 373.7vw;
}
.btn9 {
    height: 10.5vw;
    top: 389.7vw;
}
.btn10 {
    height: 15.2vw;
    top: 406.2vw;
}
.btn11 {
    height: 10.2vw;
    top: 428vw;
}
.btn12 {
    height: 15.2vw;
    top: 444.3vw;
}
.btn13 {
    height: 15.2vw;
    top: 465.5vw;
}





