body {

}
.btn {
    width: 75.5%;
    left: 15vw;
    position: absolute;
    border: none;
    background-color: transparent;
}
.btn0 {
    height: 43.5vw;
    top: 219vw;
}
.btn1 {
    height: 10.4vw;
    top: 269.4vw;
}

.btn2 {
    height: 9.7vw;
    top: 286vw;
}

.btn3 {
    height: 15.7vw;
    top: 302.7vw;
}

.btn4 {
    height: 9.7vw;
    top: 325.2vw;
}

.btn5 {
    height: 14.7vw;
    top: 342.7vw;
}

.btn6 {
    height: 10.7vw;
    top: 364.6vw;
}

.btn7 {
    height: 9vw;
    top: 382vw;
}
.btn8 {
    height: 9.7vw;
    top: 398.3vw;
}
.btn9 {
    height: 15.5vw;
    top: 415vw;
}
.btn10 {
    height: 10vw;
    top: 438vw;
}
.btn11 {
    height: 10vw;
    top: 455vw;
}
.btn12 {
    height: 10vw;
    top: 472vw;
}
.btn13 {
    height: 15vw;
    top: 488vw;
}

.btn14 {
    height: 10.5vw;
    top: 510.5vw;
}




