body {

}
.btn {
    width: 75.5%;
    left: 15vw;
    position: absolute;
    border: none;
    background-color: transparent;
}
.btn0 {
    height: 27vw;
    top: 205.5vw;
}
.btn1 {
    height: 10.7vw;
    top: 238.8vw;
}

.btn2 {
    height: 15.5vw;
    top: 256vw;
}

.btn3 {
    height: 10.7vw;
    top: 277.8vw;
}

.btn4 {
    height: 10vw;
    top: 295vw;
}

.btn5 {
    height: 10.7vw;
    top: 311.5vw;
}

.btn6 {
    height: 10.7vw;
    top: 328.7vw;
}

.btn7 {
    height: 10.7vw;
    top: 345.2vw;
}
.btn8 {
    height: 10.1vw;
    top: 362.2vw;
}
.btn9 {
    height: 10.5vw;
    top: 379.4vw;
}
.btn10 {
    height: 10.7vw;
    top: 395.7vw;
}
.btn11 {
    height: 10.2vw;
    top: 413vw;
}
.btn12 {
    height: 10.2vw;
    top: 429.5vw;
}
.btn13 {
    height: 10.2vw;
    top: 446.5vw;
}





