body {

}
.btn {
    width: 75.5%;
    left: 15vw;
    position: absolute;
    border: none;
    background-color: transparent;
}
.btn0 {
    height: 37vw;
    top: 203vw;
}
.btn1 {
    height: 11vw;
    top: 245.7vw;
}

.btn2 {
    height: 16vw;
    top: 262.6vw;
}

.btn3 {
    height: 21.5vw;
    top: 285.2vw;
}

.btn4 {
    height: 16vw;
    top: 313.5vw;
}

.btn5 {
    height: 15.7vw;
    top: 335.4vw;
}

.btn6 {
    height: 15.7vw;
    top: 358vw;
}

.btn7 {
    height: 15.7vw;
    top: 380.7vw;
}
.btn8 {
    height: 15.7vw;
    top: 403vw;
}
.btn9 {
    height: 15.7vw;
    top: 425.7vw;
}
.btn10 {
    height: 15.7vw;
    top: 448.7vw;
}
.btn11 {
    height: 15.7vw;
    top: 470.7vw;
}
.btn12 {
    height: 10.7vw;
    top: 493vw;
}





