body {

}
.btn {
    width: 75.5%;
    left: 15vw;
    position: absolute;
    border: none;
    background-color: transparent;
}
.btn0 {
    height: 37.7vw;
    top: 216vw;
}
.btn1 {
    height: 10.4vw;
    top: 260.6vw;
}

.btn2 {
    height: 10.4vw;
    top: 277.8vw;
}

.btn3 {
    height: 10.4vw;
    top: 294.4vw;
}

.btn4 {
    height: 10.4vw;
    top: 311.2vw;
}

.btn5 {
    height: 10vw;
    top: 328.2vw;
}

.btn6 {
    height: 10.4vw;
    top: 344.5vw;
}

.btn7 {
    height: 10.4vw;
    top: 361.8vw;
}
.btn8 {
    height: 15.8vw;
    top: 378.3vw;
}
.btn9 {
    height: 21.5vw;
    top: 400.8vw;
}
.btn10 {
    height: 21vw;
    top: 429.3vw;
}
.btn11 {
    height: 21vw;
    top: 457.8vw;
}
.btn12 {
    height: 10.4vw;
    top: 486vw;
}
.btn13 {
    height: 15vw;
    top: 502.5vw;
}




